<div class="nav-bar-container d-flex justify-between align-items-center p-fixed">
  <% if @welcome %>
    <%= render partial: 'navigations/welcome_nav_content' %>
  <% else %>
    <%= render partial: 'navigations/regular_nav_content' %>
  <% end %>
</div>
