<div class="w-100 p-1 d-flex justify-between align-items-center">
  <h1 class="logo-style fc-color-2">
    SmartTrackApp
  </h1>


  <div>
    <%= button_to '/navbar/welcome', remote: true, class: "ham-btn fc-color-2", id: 'ham-menu' do %>
      <i class="fas fa-bars"></i>
    <% end %>
  </div>
</div>
