<div class="pt-100p d-flex flex-column">
  <div class="d-flex flex-column">
      <%= form_with url: session_path(resource_name), scope: resource, class: 'd-flex flex-column bor-3 mb-1 background-color-1' do |f| %>
        <div class="field input-border">
          <%= f.email_field :email, autofocus: true, placeholder: 'Email', autocomplete: "email", class: 'default-input w-100' %>
        </div>

        <div class="field">
          <%= f.password_field :password, placeholder: 'Password', autocomplete: "current-password", class: 'default-input w-100' %>
        </div>
      <% end %>
      <%= link_to "Forgot your password?", new_password_path(resource_name), class: 'default-link fc-5 text-center' %>
  </div>
</div>
  