<div class="user-transaction-container d-flex flex-column">
  <% if @user_transactions.empty? %>
    <p>
      You have not added any transaction for this group yet! Try adding one below.
    </p>
  <% else %>
    <% @groups.each do |group| %>
      <%= render partial:'user_transactions/transaction_card' %>
    <% end %>
  <% end %>
  <%= button_to groups_path, method: :get, remote: true, class: "default-btn btn-color-1 bor-1 fc-2 mt-50p w-100", id: 'nav-menu' do %>
    Add Transaction
  <% end %>
</div>