<div class="page-container d-flex flex-column vh-100">
  <div class="d-flex flex-column align-items-center justify-around h-100">
    <h1 class="fc-3 text-center">
      SmartTrackApp
    </h1>

    <div class="w-100 text-center">
      <div class="d-flex flex-column align-items-center">
        <%= link_to new_user_session_path, class: 'default-link mb-05 w-100' do %>
          <button type="button" class="welcome-btn btn-color-1 bor-1 fc-2 w-100">Log in</button>
        <% end %>
        <%= link_to new_user_registration_path, class: 'default-link mb-2 w-100' do %>
          <button type="button" class="welcome-btn btn-color-2 bor-2 fc-3 w-100">Sign Up</button>
        <% end %>
      </div>

      <p>
        Made by: <a href="https://github.com/nelsinofrancisco" class="default-link">@nelsinofrancisco</a> 
      </p>  
      <p>
        Design by: <a href="https://www.behance.net/gregoirevella" class="default-link">@Minimmmal</a>
      </p>  
    </div>

  </div>
</div>