// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.move-back-btn {
  top: -20px;
  right: 0.5rem;
}

.group-icon {
  border-radius: 5px;
  width: 70px;
  height: 70px;
}

.category-container {
  background-color: var(--bc-color-4);
  padding: 1rem 0.5rem 0.5rem 0.5rem;
  border-radius: 5px;
}

.user-transaction-container {
  padding: 210px 1rem 1rem 1rem;
}
